<!DOCTYPE html>
<html>
  <head>
      {% block head %}

      {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js"></script>

  </head>
  <body>

        <div class="uk-position-top">
            <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
                <div class="uk-navbar-center">
                    <ul class="uk-navbar-nav">
                        <li ><a href="{% url 'home' %}" style="font-size: 30px;margin-right: 20px">Home</a></li>
                        {% if not user.is_authenciated %}
                        <li><a href="{% url 'login' %}" style="font-size: 30px;margin-right: 20px">Login</a></li>
                            {% else %}
                            <li><a href="{% url 'logout' %}" style="font-size: 30px;margin-right: 20px">Logout</a></li>
                        {% endif %}
                        <li><a href="#" style="font-size: 30px;margin-right: 20px">Quiz</a></li>
                        <li><a href="#" style="font-size: 30px;margin-right: 20px">Team</a></li>
                        <li><a href="#" style="font-size: 30px">Discussion</a></li>

                    </ul>
                </div>
            </nav>
        </div>
        <br><br><br><br>
  {% block content %}

{% endblock %}

  </body>
</html>


