{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
{#      <link rel="stylesheet" type="text/css" href="{% static 'css/login_fb_google.css' %}" >#}
      <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
{#      <link href="{% static 'assets/css/docs.css' %}" rel="stylesheet" type="text/css">#}
      <link href="{% static 'css/bootstarp-social.css' %}" rel="stylesheet" type="text/css">
    <style>
.trPic{
		width:1700px;
		height:1000px;
		background: url(/media/shoans.png) no-repeat;
	}
	.trPic .redO{
		{#position:relative;#}
		width:2000px;
		height:8000px;
		background: #304c6d;
		opacity:0.7;
	}
.lay {
  -webkit-animation: background 1s cubic-bezier(1,0,0,1) infinite;
  animation: background 50s cubic-bezier(1,0,0,1) infinite;
}

@-webkit-keyframes background {
  0% { background-color: #f99; opacity:0.7;}
  33% { background-color: #ff8a35; opacity:0.7;}
  67% { background-color: #99f; opacity:0.7;}
  100% { background-color: #f99; opacity:0.7;}
}

@keyframes background {
  0% { background-color: #f99; opacity:0.7;}
  33% { background-color: #ff8a35; opacity:0.7;}
  67% { background-color: #99f; opacity:0.7;}
  100% { background-color: #f99; opacity:0.7;}
}

    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js"></script>
  </head>
  <body>

    <div class="trPic uk-text-center">
      <div class="uk-cover-background uk-inline-clip uk-transition-toggle redO lay" tabindex="0" style="height:1000px ">
{#           <img class="uk-transition-scale-up uk-transition-opaque" src="/media/shoans.png" alt="" >#}
          <div class="uk-position-center">
                <div class="uk-transition-slide-top-small"><h1 class="uk-margin-remove">Nice to see you here</h1></div>
                <div class="uk-transition-slide-bottom-small"><h1 class="uk-margin-remove">Let do quiz</h1></div>
            </div>

      </div>
        <div class="uk-position-top">
            <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
                <div class="uk-navbar-center">
                    <ul class="uk-navbar-nav">
                        <li ><a href="{% url 'home' %}" style="font-size: 30px;margin-right: 20px">Home</a></li>
                        {% if not user.is_authenciated %}
                        <li><a href="#login" style="font-size: 30px;margin-right: 20px">Login</a></li>
                            {% else %}
                            <li><a href="{% url 'logout' %}" style="font-size: 30px;margin-right: 20px">Logout</a></li>
                        {% endif %}
                        <li><a href="#" style="font-size: 30px;margin-right: 20px">Quiz</a></li>
                        <li><a href="#" style="font-size: 30px;margin-right: 20px">Team</a></li>
                        <li><a href="#" style="font-size: 30px">Discussion</a></li>


                    </ul>
                </div>
            </nav>
        </div>
    </div>

  <!-- <div style="position: absolute; z-index: -1; top: 0px; left: 0px; bottom: 0px; right: 0px; overflow: hidden; background-size: cover; background-color: transparent; background-repeat: no-repeat; background-position: 50% 50%; background-image: none;">
    <img src="shoans.png" alt="">
    </div> -->

 <div id="login">


    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding pull-center text-right" style="margin-top: 100px;margin-left: 20%;">
<a title="Facebook" class="socialaccount_provider facebook btn btn-block btn-social btn-facebook" href="/accounts/facebook/login/?process=login" style="width: 300px  ">
      <span class="fa fa-facebook"></span>Login with Facebook
</a>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding pull-center text-right" style="margin-top: 100px;margin-left: 50px;">
      <a title="Google" class="socialaccount_provider google btn btn-block btn-social btn-google" href="/accounts/google/login/?process=login"  style="width: 300px ; ">
        <span class="fa fa-google"></span>
  Login with Google
    </a>
</div>



<script id="allauth-facebook-settings" type="application/json">
    {"appId": "364235564056120", "version": "v2.4", "locale": "en_US", "initParams": {"appId": "364235564056120", "version": "v2.4"}, "loginOptions": {"scope": ""}, "loginByTokenUrl": "http://localhost:8000/accounts/facebook/login/token/", "cancelUrl": "http://localhost:8000/accounts/social/login/cancelled/", "logoutUrl": "http://localhost:8000/accounts/logout/", "loginUrl": "http://localhost:8000/accounts/facebook/login/", "errorUrl": "http://localhost:8000/accounts/social/login/error/", "csrfToken": "DfbMOidI8idK3f10doQ3oKek9IntJfxPVfywZlCbcewhn8YYrMWq33f2raX44SUP"}
    </script>

<script type="text/javascript" src="/static/facebook/js/fbconnect.js"></script>
      <script id="facebook-jssdk" async="" src="//connect.facebook.net/en_US/sdk.js"></script>
 </div>

	<div id="quizpage">
       <button><a href="#">Enter Quiz</a></button>

  </div>

  <div id="team">


  </div>
  
	  
	  
  </body>
</html>
