{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<title>Home</title>

{% endblock %}

{% block content %}
<div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="animation: push">

	 <div uk-slideshow="autoplay: true">
	 <div uk-slideshow="ratio: 7:2">
   <ul class="uk-slideshow-items">
       <li>
           <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
               <img src="/media/image1.jpg" alt="" uk-cover>

           </div>
       </li>
       <li>
           <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-top-right">

			   <img src="/media/image2.jpg" alt="" uk-cover>


           </div>
       </li>
       <li>
           <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-bottom-left">
               <img src="/media/image3.jpg" alt="" uk-cover>
           </div>
       </li>
   </ul>
</div>
</div>
   <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
   <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

</div>


{% endblock %}