{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js"></script>
{% endblock %}

{% block content %}
<div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="animation: push">

	 <div uk-slideshow="autoplay: true">
	 <div uk-slideshow="ratio: 7:2">
   <ul class="uk-slideshow-items">
       <li>
           <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
               <img src="/media/image1.jpg" alt="" uk-cover>
			   <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#">Active</a></li>
                    <li><a href="#">Item</a></li>
                    <li>
                        <a href="#">Parent</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="#">Active</a></li>
                                <li><a href="#">Item</a></li>
                                <li class="uk-nav-header">Header</li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="#">Item</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
           </div>
       </li>
       <li>
           <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-top-right">

			   <img src="/media/image2.jpg" alt="" uk-cover>


           </div>
       </li>
       <li>
           <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-bottom-left">
               <img src="/media/image3.jpg" alt="" uk-cover>
           </div>
       </li>
   </ul>
</div>
</div>
   <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
   <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

</div>


{% endblock %}